@use '../../styles/colors.scss';

.containerLogoAndSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.containerSearch {
  display: flex;
  width: 400px;
  justify-content: space-between;
  background-color: colors.$background_paper !important;
}

.searchElements {
  padding: 1px !important;
  color: colors.$text_secondary !important;
}

.notSelectedButton {
  color: colors.$text_primary !important;
}
