@use "../../styles/colors";

.containerFooter {
  position: absolute;
  bottom: 0;
  width: 97% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$background_default;
}

.textFooter {
  color: colors.$text_secondary;
}

.notSelectedButton {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: colors.$text_disabled !important;
}
